# training metadata
training/manual_curation_files/
training/logs/
training/__pycache__/
__pycache__/

# Pickled matrices
*.npy

# Compiled Python
*.pyc

# DNN weights
#*.hdf5
#*.h5

# Training data
*.png
*.jpeg
*.jpg
*.svs
*.csv
*.tsv
*.zip

# Tensorboard logs
events.out.tfevents.*
